html {
	font-size: 100%;
	color: black;
	font-family: 'Amatic SC', cursive;
}

.timer-caps{
	width: 30%;
	position: relative;
}

#timer {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	font-size: 500%;
}

#timer li span {
	font-size: 50%;
}

#timer li {
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: 7px -5px 19px -4px rgba(0,0,0,0.22);
	-moz-box-shadow: 7px -5px 19px -4px rgba(0,0,0,0.22);
	box-shadow: 7px -5px 19px -4px rgba(0,0,0,0.22);

	border-radius: 10%;
	border: 2px solid rgba(97,232,220,0.3);

}